$fSize1: 48px;
$fSize2: 36px;
$fSize3: 24px;
$fSize4: 18px;
$fSize5: 14px;
$fSize6: 12px;
$fSize7: 10px;
$fSize8: 8px;

$pri: #ff4d53;
$pri2: #e55c61;
$sec: #005cab;
$black2: #86868b;
$white2: #f2f2f2;
$magenta: #f255f2;
$yellow: #f2f255;
$cyan: #55f2f2;
